/* ========================================
     🌈 VARIABLES.CSS — Styleguide-Basics
   ======================================== */

/* In deiner CSS-Datei (z. B. variables.css oder style.css) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

/* ===== NO
    @font-face {
        font-family: 'Inter';
        src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2');
        font-weight: 400;

        font-family: 'Inter';
        src: url('../fonts/Inter/Inter-Bold.woff2') format('woff2');
        font-weight: 700;

        font-family: 'Inter';
        src: url('../fonts/Inter/Inter-Black.woff2') format('woff2');
        font-weight: 900;

        font-family: 'Permanent Marker';
        src: url('../fonts/PermanentMarker/PermanentMarker-Regular.woff2') format('woff2');
        font-weight: normal;

        font-family: 'Schoolbell';
        src: url('../fonts/Schoolbell/Schoolbell-Regular.woff2') format('woff2');
        font-weight: normal;
    }
===== */

/* ===== Farben ===== */
:root {
    /* ===== NEUTRAL ===== */
    --white-light: #FBF6ED;
    --white-dark: #E9DECB;

    --black-light: #282A2B;
    --black-dark: #111112;
  
    /* ===== FARBEN ===== */
    --active-light: #FFAF40;
    --active-dark: #EF9210;
  
    --passive-light: #09B5B7;
    --passive-dark: #007778;
  
    --accent-light: #F65599;
    --accent-dark: #C33268;
  
    /* ===== Border / Radius ===== */
    --border-thin: 4px;
    --border-thick: 8px;
    --radius: 4px; /*2px*/
  
    /* ===== Abstände (Softgrid) ===== */
    --xxs: 4px;
    --xs: 8px;
    --s: 16px;
    --m: 24px;
    --l: 32px;
    --xl: 40px;
    --xxl: 64px;
  
    /* ===== Fonts ===== */
    --font-primary: 'Inter', sans-serif;
    --font-highlight-1: 'Permanent Marker', cursive;
    --font-highlight-2: 'Schoolbell', cursive;
}



/*
@media only screen and (max-width: 480px) {}
*/


/* ===== Scrollbar nicht sichtbar ===== */
::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  overflow: auto;     /* oder scroll */
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}